body {
  margin: 0%; }

#header {
  background-image: linear-gradient(to right, white, #b4fdb1);
  width: 100%;
  height: 20vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around; }

.menu li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
  text-decoration: none;
  list-style: none; }

.menu li a {
  color: black; }

#main {
  width: 100%;
  height: 75vh; }

#main section {
  width: 100%;
  height: 75vh;
  padding-top: 15px;
  align-self: center; }

#main section img {
  width: 80%;
  height: 70vh;
  position: fixed; }

#carouselExampleControls {
  width: 100%;
  height: 70vh;
  position: fixed; }

.carousel-item {
  width: 80%;
  height: 100%; }

.carousel-item img {
  object-fit: cover;
  width: 80%;
  height: 70vh; }

#footer {
  background-image: linear-gradient(to right, white, #b4fdb1);
  width: 100%;
  height: 5vh; }

#footer a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #6cac69; }

.galeria {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 20px; }

.galeria .boximg img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeria .boximg:nth-child(2) {
  grid-column-start: span 2; }

.galeria .boximg:nth-child(5) {
  grid-row-start: span 2; }

.contacto {
  width: 100%;
  height: 75vh;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.imgcontacto {
  flex: 1;
  width: 60%;
  padding: 50px;
  height: 50vh; }

#socios {
  flex: 2;
  padding: 40px;
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

.mb-3 {
  text-align: center;
  justify-content: center;
  justify-items: center; }

#exampleFormControlTextarea1 {
  height: 277px;
  width: 426px; }

.form-label {
  align-items: center;
  align-self: center;
  align-content: center; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #b4fdb1;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #30c444;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

span {
  color: #30c444; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  color: #30c444; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #0e0e0e; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

.comprar {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 75vh; }

.comocomprar {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: medium;
  height: 50vh;
  width: 100%;
  background-color: #b4fdb1;
  justify-content: center;
  align-content: center; }

.registro {
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: #b4fdb1;
  align-items: center;
  justify-content: center;
  align-content: center; }

.registro form {
  display: flex;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  align-items: center;
  align-content: center;
  justify-content: center; }

.nos {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 100%; }

.nos h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: unset;
  color: #57e787;
  text-align: center;
  margin: 0%;
  justify-content: center;
  text-align: center; }

.nos section {
  width: 100%;
  height: 70vh;
  padding: 25px;
  justify-self: center;
  align-content: center; }

.nos div {
  display: flex;
  width: 100%;
  height: 65vh;
  margin: 25px;
  padding: 25px;
  background-color: #b4fdb1;
  justify-items: center;
  align-self: center;
  text-align: center; }

.nos div p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 16px;
  align-content: center;
  align-items: center;
  align-self: center; }

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: unset;
  color: #57e787;
  text-align: center;
  margin: 0%;
  justify-content: center;
  text-align: center; }

@media (max-width: 600px) {
  #header {
    background-color: white;
    width: 100%;
    max-width: 600px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  .menu {
    flex-direction: row; }
  .menu li {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row; }
  #carouselExampleControls {
    width: 75%;
    height: 50%; }
  .carousel-item {
    width: 100%;
    height: 100%; }
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 75vh; }
  .contenedor {
    width: 100%;
    height: 100%;
    max-width: 600px;
    height: 75vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
  .galeria {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column; }
  .galeria .boximg img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .comprar {
    width: 100%;
    height: 75vh;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column; } }

.comocomprar {
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 100px; }

.registro {
  text-align: center;
  flex-direction: column;
  margin: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.nosotros {
  background-color: #b4fdb1;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column; }

.nosotros h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0%;
  justify-content: center;
  text-align: center; }

.nosotros section {
  width: 75%;
  height: 60vh;
  padding: 25px;
  align-self: center; }

.carrousel img {
  width: 100%;
  height: 60vh; }

footer {
  height: 5vh; }

@media (max-width: 300px) {
  #header {
    background-color: white;
    width: 100%;
    max-width: 300px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  .menu {
    display: flex;
    flex-direction: row;
    text-align: center; }
  .menu li {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row; }
  #carouselExampleControls {
    width: 75%;
    height: 50%; }
  .carousel-item {
    width: 100%;
    height: 100%; }
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 75vh; }
  .contenedor {
    width: 100%;
    height: 100%;
    max-width: 300px;
    height: 75vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
  .galeria {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column; }
  .galeria .boximg img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .comprar {
    width: 100%;
    height: 75vh;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column; } }

.comocomprar {
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 100px;
  min-width: 250px; }

.registro {
  text-align: center;
  flex-direction: column;
  margin: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.nosotros {
  background-color: #b4fdb1;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column; }

.nosotros h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0%;
  justify-content: center;
  text-align: center; }

.nosotros section {
  width: 75%;
  height: 60vh;
  padding: 25px;
  align-self: center; }

.carrousel img {
  width: 100%;
  height: 60vh; }

#footer {
  height: 5vh; }
